@font-face {
  src: url(../fonts/LasEnter_PersonalUseOnly.ttf);
  font-family: neon;
}

html {
  scroll-behavior: smooth;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.ibb.co/Wy19MNv/deep-blue-brick-wall-mural-plain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#n1, #n2 {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.bar_link {
  padding-left: 10px;
  padding-right: 10px;
}


#hero-title {
  font-size: 200px;
  color: white;
  position: relative;
  font-family: neon;
  text-align: center;
}

#colour-grad {
  height: 150px;
  background-image: linear-gradient(rgb(6, 21, 83, 0), rgb(6, 21, 83));
}

h1::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 17px white;
  filter: blur(15px) brightness(0);
  animation: flicker 2s linear 1s forwards;
}

#hero-subtitle, .subtitles {
  font-size: 50px;
  color: white;
  font-family: neon;
  text-align: center;
}

.proj-title {
  font-size: 30px;
}

#hero-subtitle::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 20px white;
  filter: blur(15px) brightness(0);
  animation: quickflicker 2s linear 1s forwards;
}

p {
  color: white;
}

@keyframes flicker {
  0%{filter: blur(5px) brightness(0);}
  3%{filter: blur(5px) brightness(0);}
  6%{filter: blur(5px) brightness(0);}
  7%{filter: blur(5px) brightness(1);}
  8%{filter: blur(5px) brightness(0);}
  9%{filter: blur(5px) brightness(1);}
  10%{filter: blur(5px) brightness(0);}
  20%{filter: blur(5px) brightness(1);}
  50%{filter: blur(5px) brightness(1);}
  95%{filter: blur(5px) brightness(0);}
  100%{filter: blur(5px) brightness(1);}
}

@keyframes quickflicker {
  0%{filter: blur(5px) brightness(0);}
  50%{filter: blur(5px) brightness(1);}
  80%{filter: blur(5px) brightness(1);}
  87%{filter: blur(5px) brightness(0);}
  95%{filter: blur(5px) brightness(0);}
  100%{filter: blur(5px) brightness(1);}
}



#about {
  background-color: rgb(6, 21, 83);
  display: flex;
  justify-content: center;
}

#skills, #contact {
  background-color: rgb(6, 21, 83);
  padding-bottom: 70px;
  padding-top: 70px;
}

#contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social-links {
  display: flex;
  flex-direction: row;
}

#skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-columns {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tech-skills, #soft-skills {
  margin: 20px;
  text-align: center;
  width: 350px;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 21, 83);
  padding-bottom: 70px;
  padding-top: 70px;
}

.info_and_pic {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.columns {
  text-align: center;
}

.column {
  /* background-color: red; */
  margin: 5px;
}

.infodiv {
  margin: 10px;
}

.about_div {
  width: 500px;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 70px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.proj-pic {
  width: 100%;
  height: 100%; 
  object-fit: contain;
  border: 5px solid black;
  border-radius: 10px;
}