@font-face {
  src: url(../fonts/Night_Club_70s_Regular.ttf);
  font-family: neon;
}

html {
  scroll-behavior: smooth;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.ibb.co/Wy19MNv/deep-blue-brick-wall-mural-plain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#n1, #n2 {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.bar_link {
  padding-left: 10px;
  padding-right: 10px;
}


#hero-title {
  font-size: 100px;
  color: white;
  position: relative;
  font-family: neon;
  text-align: center;
}

h1::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 20px white;
  filter: blur(15px) brightness(0);
  animation: flicker 2s linear 1s forwards;
}

#hero-subtitle, .subtitles {
  font-size: 50px;
  color: white;
  font-family: neon;
  text-align: center;
}

#hero-subtitle::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 20px white;
  filter: blur(15px) brightness(0);
  animation: quickflicker 2s linear 1s forwards;
}

/* p {
  color: white;
} */

@keyframes flicker {
  0%{filter: blur(5px) brightness(0);}
  3%{filter: blur(5px) brightness(0);}
  6%{filter: blur(5px) brightness(0);}
  7%{filter: blur(5px) brightness(1);}
  8%{filter: blur(5px) brightness(0);}
  9%{filter: blur(5px) brightness(1);}
  10%{filter: blur(5px) brightness(0);}
  20%{filter: blur(5px) brightness(1);}
  50%{filter: blur(5px) brightness(1);}
  95%{filter: blur(5px) brightness(0);}
  100%{filter: blur(5px) brightness(1);}
}

@keyframes quickflicker {
  0%{filter: blur(5px) brightness(0);}
  50%{filter: blur(5px) brightness(1);}
  80%{filter: blur(5px) brightness(1);}
  87%{filter: blur(5px) brightness(0);}
  95%{filter: blur(5px) brightness(0);}
  100%{filter: blur(5px) brightness(1);}
}



#about {
  background-color: rgb(6, 21, 83);
  display: flex;
  justify-content: center;
}

#skills-container {
  display: flex;
  flex-direction: row;
}

.info_and_pic {
  display: flex;
  flex-direction: row;
}

.about_div {
  width: 500px;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 70px;
}